<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ishugui.lib">


    <uses-sdk tools:overrideLibrary="com.huawei.android.hms.pay,com.huawei.android.hms.hwid,com.huawei.android.hms.base,com.huawei.openalliance.ad,com.huawei.uxwidget.uxwidget" />

    <application
        android:supportsRtl="true">

    </application>

</manifest>
